*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    padding: 0 20px;
    background: linear-gradient(135deg, rgb(249, 249, 217), rgb(247, 198, 198));
}
.wraper{
    width: 100%;
    margin: auto;
    position: relative;
    top: 80px;
    max-width: 400px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 0 0 black;
}
.wraper img{
    width: 300px;
    display: flex;
    justify-content: center;
}
.wraper button{
    padding: 5px 30px;
    border: 3px solid rgb(255, 234, 0);
    background: transparent;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    color: gold;
    font-weight: bold;
    transition: all .4s;
}
.wraper button:hover{
    background: black;
    color: white;
    border: 3px solid black;
}
.wraper span{
    margin-top: 10px;
    border-bottom: 1px solid black;
    position: relative;
    top: 10px;
    padding-bottom: 5px;
    font-size: 13px;
}
.wraper h2{
    font-size: 27px;
    margin-top: 40px;
}
.wraper p{
    margin-top: 20px;
    line-height: 25px;
}
.coment{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.coment p{
    top: 0;
    margin: 0;
    margin-left: 10px;
}
.coment img{
    width: 30px;
}
@media only screen and (max-width: 360px){
    .wraper img{
        width: 250px;
        display: flex;
        justify-content: center;
    }
    .coment img{
        width: 30px;
    }
}
@media only screen and (max-height: 700px){
    .wraper{
        top: 5px;
    }
}